@font-face {
  font-family: 'icomoon';
  src:  url('https://maks-ushakov.github.io/cert-storage/fonts/icomoon.eot?19ygkw');
  src:  url('https://maks-ushakov.github.io/cert-storage/fonts/icomoon.eot?19ygkw#iefix') format('embedded-opentype'),
    url('https://maks-ushakov.github.io/cert-storage/fonts/icomoon.ttf?19ygkw') format('truetype'),
    url('https://maks-ushakov.github.io/cert-storage/fonts/icomoon.woff?19ygkw') format('woff'),
    url('https://maks-ushakov.github.io/cert-storage/fonts/icomoon.svg?19ygkw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

