	.certificate-adding__hide {
		display: block;
	}
	.certificate-adding__show {
		display: none;
	}

.cert--add {
	.certificate-adding__hide {
		display: none;
	}
	.certificate-adding__show {
		display: block;
	}
}
